@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700,800,900&display:swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #fbf7f7;
  font-size: 0.75rem;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: clip;
}
.wraper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 1, 0.481);
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
@media (max-width: 767.98px) {
  .header__body {
    padding: 12.5px 0;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #F8F9FA;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}
.header__logo::after {
  content: ".";
  color: #DDBEA9;
}
@media (max-width: 350px) {
  .open .header__logo {
    opacity: 0;
    visibility: hidden;
  }
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5625em;
     -moz-column-gap: 1.5625em;
          column-gap: 1.5625em;
}
@media (max-width: 767.98px) {
  .nav-header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    padding: 70px 0 20px 20px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    overflow: auto;
  }
}
.nav-header__search {
  padding: 6px 0 6px 25px;
  border-left: 1px solid rgba(229, 229, 229, 0.5);
  z-index: 2;
}
.nav-header__burger {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 18px;
  position: relative;
  background-color: transparent;
}
@media (min-width: 767.98px) {
  .nav-header__burger {
    display: none;
  }
}
.nav-header__burger span, .nav-header__burger::before, .nav-header__burger::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.nav-header__burger::before {
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-header__burger::after {
  bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-header__burger span {
  top: 45%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search-header {
  position: relative;
}
.search-header__label {
  position: relative;
  margin-left: 1.5625em;
}
.search-header__label::before {
  content: "";
  display: block;
  background: url(../img/icons/search.svg) no-repeat;
  position: absolute;
  top: 3px;
  right: 0%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .search-header__label::before {
    width: 25px;
    height: 25px;
    background-size: 25px;
    top: -3px;
  }
}
.search-header__input {
  padding: 5px;
  font-size: 12px;
  line-height: 1.5;
  color: #212529;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: -100%;
  width: 150px;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 767.98px) {
  .menu-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 5px;
  }
}

.list-header__item:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 767.98px) {
  .list-header__item {
    position: relative;
  }
  .list-header__item:not(:last-child) {
    margin-right: 25px;
    margin-bottom: 0;
  }
}
@media (min-width: 767.98px) and (any-hover: hover) {
  .list-header__item:hover .list-header__sub-menu {
    top: 120%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
.list-header__link {
  font-size: 1.3125rem;
  font-weight: 500;
  line-height: 2.1;
  color: rgba(248, 249, 250, 0.6);
}
@media (min-width: 767.98px) {
  .list-header__link {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.1;
    color: rgba(248, 249, 250, 0.5);
  }
}
@media (min-width: 767.98px) and (any-hover: hover) {
  .list-header__link:hover {
    color: #F8F9FA;
  }
}
@media (min-width: 767.98px) {
  .list-header__link::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: #DDBEA9;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    -webkit-transition: width 0.3s, left 0.3s;
    transition: width 0.3s, left 0.3s;
  }
}
@media (min-width: 767.98px) and (any-hover: hover) {
  .list-header__link:hover::before {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 767.98px) {
  .list-header__sub-menu {
    position: absolute;
    top: -300%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .list-header__sub-menu::before {
    content: "";
    position: absolute;
    bottom: 95%;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 15px;
    background-color: transparent;
    cursor: pointer;
  }
}

@media (min-width: 767.98px) {
  .active {
    color: #F8F9FA;
  }
  .active::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #DDBEA9;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 767.98px) {
  .arrow {
    position: relative;
    cursor: pointer;
  }
  .arrow::after {
    content: "";
    background: url(../img/icons/arrow-down.svg) no-repeat;
    position: absolute;
    top: 6px;
    left: 107%;
    width: 8px;
    height: 5px;
  }
}

.sub-menu {
  margin-left: 20px;
}
@media (min-width: 767.98px) {
  .sub-menu {
    width: 136px;
    background-color: #212529;
    border-radius: 5px;
    padding: 20px;
    pointer-events: none;
    margin-left: 0;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.sub-menu__link {
  font-weight: 500;
  line-height: 2.1;
  color: rgba(248, 249, 250, 0.6);
}

@media (min-width: 767.98px) {
  .active-sub {
    color: #F8F9FA;
  }
}
/**/
.open .search-header__input {
  right: 100%;
  opacity: 1;
  visibility: visible;
}

.open .nav-header__menu {
  display: none;
}

.open-burger .nav-header__menu {
  left: 0;
}

.open-burger .nav-header__burger span {
  width: 0;
  left: 50%;
}

.open-burger .nav-header__burger::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.open-burger .nav-header__burger::after {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.items-world__image img, .slid-topics__background img, .items-topics__image img, .cards-categories__imag img, .head-page__background img, .head-page__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-------Page----------------*/
/*----------------Head-page---------------*/
.head-page {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 8%;
  padding-top: 19%;
}
@media (max-width: 767.98px) {
  .head-page {
    padding-bottom: 100px;
  }
}
.head-page h1 {
  font-weight: 700;
  line-height: 1.6;
  color: #F8F9FA;
  max-width: 50%;
}
@media (max-width: 767px) {
  .head-page h1 {
    font-size: calc(18px + 17.5 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .head-page h1 {
    font-size: calc(18px + 7 * (100vw / 1230));
  }
}
@media (max-width: 767.98px) {
  .head-page h1 {
    max-width: 80%;
  }
}
.head-page_data {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #E5E5E5;
}
.head-page__container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.head-page__container > *:not(:last-child) {
  margin-bottom: 15px;
}
.head-page__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #E5E5E5;
  max-width: 33%;
}
@media (max-width: 767.98px) {
  .head-page__text {
    max-width: 70%;
  }
}
/*----------------Categories----------*/
.page__categories {
  padding-top: 8.064516%;
  /* 100/1240 */
  margin-bottom: 6.25rem;
}
@media (max-width: 767.98px) {
  .page__categories {
    margin-bottom: 1.875rem;
  }
}

.categories__navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.categories__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 2.8125rem;
}
.categories__cards:not(:last-child) {
  margin-bottom: 3.75em;
}
.categories__button {
  display: block;
  margin: 0 auto;
  width: 11.854839%;
  padding: 14px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
  color: #F8F9FA;
  background-color: #212529;
  border-radius: 3px;
}
@media (any-hover: hover) {
  .categories__button:hover {
    background-color: #495057;
  }
}
@media (max-width: 970px) {
  .categories__button {
    width: 6.9375rem;
  }
}

.navigate-categories a {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.1;
  color: #495057;
}
.navigate-categories:not(:last-child) {
  margin-bottom: 2.75em;
}
.navigate-categories__culumn a {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.1;
  color: #495057;
}

.cards-categories {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.cards-categories__link {
  font-weight: 700;
  font-size: 8px;
  line-height: 2.5;
  text-align: center;
  color: #F8F9FA;
  position: absolute;
  top: 7%;
  right: 7%;
  z-index: 1;
  padding: 3px 12px;
  background-color: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .cards-categories__link:hover {
    background-color: rgba(33, 37, 41, 0.7);
  }
}
.cards-categories__imag {
  display: block;
  position: relative;
  padding-bottom: 63.613232%;
  overflow: hidden;
  /* 250px/393 */
}
.cards-categories__imag:not(:last-child) {
  margin-bottom: 30px;
}
@media (any-hover: hover) {
  .cards-categories__imag img:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}
.cards-categories__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.cards-categories__body:not(:last-child) {
  margin-bottom: 15px;
}
.cards-categories__data {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #495057;
}
@media (any-hover: hover) {
  .cards-categories__data:hover {
    text-decoration: underline;
  }
}
.cards-categories__description {
  font-weight: 700;
  line-height: 1.6;
  color: #212529;
}
@media (max-width: 767px) {
  .cards-categories__description {
    font-size: calc(16px + 17.5 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .cards-categories__description {
    font-size: calc(16px + 9 * (100vw / 1230));
  }
}
@media (any-hover: hover) {
  .cards-categories__description:hover {
    text-decoration: underline;
  }
}
.cards-categories__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #495057;
}
@media (any-hover: hover) {
  .cards-categories__text:hover {
    text-decoration: underline;
  }
}
.cards-categories__author {
  border-top: 1px solid #E5E5E5;
}
.cards-categories__author a {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #495057;
  padding-top: 15px;
}
@media (any-hover: hover) {
  .cards-categories__author a:hover {
    text-decoration: underline;
  }
}

/*---------------Topics-----------------*/
.page__topics {
  position: relative;
}
.page__topics:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 767.98px) {
  .page__topics:not(:last-child) {
    margin-bottom: 30px;
  }
}

.topics__article {
  background-color: #212529;
}
@media (max-width: 767.98px) {
  .topics__article:not(:last-child) {
    padding-bottom: 30px;
  }
}
.topics__slid {
  position: absolute;
  top: 0;
  right: 0;
}

.article-topics__container h3 {
  font-weight: 500;
  line-height: 1.5;
  color: #F8F9FA;
  padding-top: 16%;
}
@media (max-width: 767px) {
  .article-topics__container h3 {
    font-size: calc(18px + 17.5 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .article-topics__container h3 {
    font-size: calc(18px + 7 * (100vw / 1230));
  }
}
.article-topics__body {
  width: 52%;
}
@media (max-width: 767.98px) {
  .article-topics__body {
    width: 100%;
  }
}
.article-topics__items {
  padding-top: 10%;
  padding-bottom: 13%;
}

.items-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
.items-topics:not(:last-child) {
  margin-bottom: 2.8125rem;
}
@media (max-width: 376px) {
  .items-topics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.items-topics__image {
  position: relative;
  width: 29%;
  padding-bottom: 29%;
  overflow: hidden;
}
@media (max-width: 376px) {
  .items-topics__image {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .items-topics__image img:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}
.items-topics__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 46%;
          flex: 1 0 46%;
  row-gap: 0.9375rem;
}
.items-topics__data {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #E5E5E5;
}
@media (max-width: 376px) {
  .items-topics__data {
    padding-top: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .items-topics__data:hover {
    text-decoration: underline;
  }
}
.items-topics__description {
  font-weight: 500;
  line-height: 1.5;
  color: #F8F9FA;
}
@media (max-width: 767px) {
  .items-topics__description {
    font-size: calc(14px + 11.2 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .items-topics__description {
    font-size: calc(14px + 2 * (100vw / 1230));
  }
}
@media (any-hover: hover) {
  .items-topics__description:hover {
    text-decoration: underline;
  }
}
.items-topics__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #E5E5E5;
}
@media (any-hover: hover) {
  .items-topics__text:hover {
    text-decoration: underline;
  }
}

.slid-topics {
  width: 48%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .slid-topics {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
.slid-topics__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box-topics {
  position: relative;
  z-index: 2;
  max-width: 63%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}
.box-topics__title {
  font-weight: 700;
  line-height: 1.6;
  color: #F8F9FA;
  text-align: center;
}
@media (max-width: 767px) {
  .box-topics__title {
    font-size: calc(16px + 18.2 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .box-topics__title {
    font-size: calc(16px + 10 * (100vw / 1230));
  }
}
@media (any-hover: hover) {
  .box-topics__title:hover {
    text-decoration: underline;
  }
}
.box-topics__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #E5E5E5;
  text-align: center;
}
@media (any-hover: hover) {
  .box-topics__text:hover {
    text-decoration: underline;
  }
}

/*-----------World--------------*/
.world__container {
  margin-bottom: 100px;
}
@media (max-width: 767.98px) {
  .world__container {
    margin-bottom: 30px;
  }
}
.world__container h3 {
  font-weight: 500;
  line-height: 1.5;
  color: #495057;
}
@media (max-width: 767px) {
  .world__container h3 {
    font-size: calc(18px + 17.5 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .world__container h3 {
    font-size: calc(18px + 7 * (100vw / 1230));
  }
}
.world__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-column-gap: 2.3%;
     -moz-column-gap: 2.3%;
          column-gap: 2.3%;
  padding-top: 4.8%;
}

.items-world__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23%;
          flex: 1 0 23%;
  min-height: 100%;
}
.items-world__cards:not(:last-child) {
  padding-bottom: 20px;
}
.items-world__link {
  position: absolute;
  top: 8.5%;
  right: 8.5%;
  z-index: 1;
  padding: 3px 12px;
  background-color: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  font-weight: 700;
  line-height: 2.5;
  color: #F8F9FA;
}
@media (max-width: 767px) {
  .items-world__link {
    font-size: calc(4px + 5.6 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .items-world__link {
    font-size: calc(4px + 4 * (100vw / 1230));
  }
}
@media (any-hover: hover) {
  .items-world__link:hover {
    background-color: rgba(33, 37, 41, 0.7);
  }
}
.items-world__image {
  width: 100%;
  position: relative;
  padding-bottom: 70%;
  overflow: hidden;
}
@media (any-hover: hover) {
  .items-world__image img:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}
.items-world__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-top: 1.875rem;
  row-gap: 0.9375rem;
}
.items-world__data {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #495057;
}
@media (any-hover: hover) {
  .items-world__data:hover {
    text-decoration: underline;
  }
}
.items-world__description {
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 767px) {
  .items-world__description {
    font-size: calc(14px + 11.2 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .items-world__description {
    font-size: calc(14px + 2 * (100vw / 1230));
  }
}
@media (any-hover: hover) {
  .items-world__description:hover {
    text-decoration: underline;
  }
}
.items-world__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #495057;
}
@media (any-hover: hover) {
  .items-world__text:hover {
    text-decoration: underline;
  }
}

.footer {
  background-color: #212529;
}
.footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.22% 0;
}
.footer__down a {
  line-height: 1.6;
  color: rgba(248, 249, 250, 0.5);
}
@media (max-width: 767px) {
  .footer__down a {
    font-size: calc(8px + 8.4 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .footer__down a {
    font-size: calc(8px + 4 * (100vw / 1230));
  }
}

.head-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.22% 0;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
@media (max-width: 767.98px) {
  .head-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.head-footer__logo {
  font-weight: 700;
  line-height: 1.4;
  color: #F8F9FA;
}
@media (max-width: 767px) {
  .head-footer__logo {
    font-size: calc(14px + 12.6 * ((100vw - 320px) / 1230));
  }
}
@media (min-width: 767px) {
  .head-footer__logo {
    font-size: calc(14px + 4 * (100vw / 1230));
  }
}
@media (max-width: 767.98px) {
  .head-footer__logo {
    padding: 15px;
  }
}
.head-footer__link a {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.1;
  color: rgba(248, 249, 250, 0.5);
}
.head-footer__link a:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 767.98px) {
  .head-footer__link {
    padding-bottom: 15px;
  }
}
